<!DOCTYPE html>
<html lang="EN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css" />
<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="@{/common/header} :: companyInfo" th:with="projectName=百度"></div>

<section>
<section>

</section>
</section>

<div th:include="@{/common/footer} :: companyInfo" th:with="projectName=百度"></div>
</body>
</html>